.skill-details{
    border: 1px solid rgb(140, 140, 140);
    background-color: rgb(44, 44, 44);
    color: white;
    // width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding: 0.4rem;    
}
.skill-item{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(176, 176, 176);
    // width: 80%;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    img{
        width: 4rem;
    }
    .skill-name{
        width: 10rem;
        font-size: 1.2rem;
        text-transform: uppercase;
    } 
    svg{
        font-size: 2rem;
        margin-left: 1rem;
        cursor: pointer;
        &:active{
            transform: scale(0.92);
        }
    } 
}

.admin-item-container{
    overflow-y: auto;
    height: 82vh;
    // border-bottom: 1px solid grey;
}

.desc-update{
    position: relative;
    .add-container{
        display: flex;
        flex-direction: columns;
        
    }
}
.add-item{    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgb(173, 173, 173);
    position: absolute;
    bottom: -20px;
    left: 0rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            font-size: 1.5rem;
        }
    }
    svg{
        font-size: 2rem;
        &:hover{
            cursor: pointer;
        }        
    }
    .add{
        position: absolute;
        right: 5rem;
        bottom: 2rem;
        z-index: 100;
        box-shadow: 0 0 10px rgba(39, 38, 38, 0.847);
    }
    .add-item-layout{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.2rem;
        label{
            margin-right: 1rem;
        }
    }
    .skill-item{
        margin-right: 1rem;
        border: none;
        // border: 2px solid red;
        label{
            width: 12rem;
        }
        input{
            font-size: 1.1rem;
            text-transform: uppercase;
            width: 100%;
        }
        .title{
            width: 20rem;
        }
    }
}
.file{
    display: block;
}
