$mainColor: rgb(0, 8, 33);
$FirstFontColor: rgb(203, 247, 238);
$secondFontColor: rgb(105, 245, 193);;
$gradColor: rgb(122 24 72 / 92%);
$centreColor: #1b5558;
$linearGradient: linear-gradient(90deg,$gradColor 0%,#430747 50%,rgb(39, 10, 82) 100%);
$multiColorGradient: linear-gradient(45deg, #a1ebdb 0%, #b47ddf 48%, #3944e2);
$multiColorGradient2: linear-gradient(45deg, #5474cc 0%, #b47ddf 70%, #64b2ae);

$buttonColor1: rgb(203, 247, 238);
$buttonColor2: rgb(47, 9, 0);
