$bgcolor: rgb(53 69 222);
.admin{
    display: flex;
    width: 100%;
    height: 100vh;         
    .main-container{
        // border: 1px solid rgba(105, 105, 105, 0.77);
        overflow-y: auto;
        width: 86%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;                           
        >div,h1{            
            width: 100%;
        }
        h1{
            margin-bottom: 1rem ;
            padding: 0.5rem;
            padding-left: 0.7rem;
            text-align: center;
            background-color: $bgcolor;                
            color: white;
            height: 3rem;
            position: sticky;
            top: 0;
        }
        .desc{
            border-radius: 0.4rem;
            padding: 0 1rem;            
            h2{
                padding: 0.4rem 0;
            }
            div{                
                border: 1px solid rgba(128, 128, 128, 0.705);
                padding: 01rem;
                padding-right: 1rem;
                border-radius: 0.5rem;
                font-size: 1.1rem;
                min-height: 5rem;
                max-height: 13rem;
                overflow: hidden;
                overflow-y: auto;
            }
        }
        .desc-update{
            padding:0 1rem;            
            h2{
                margin: 0.5rem 0;
                display: flex;
                justify-content: space-between;
            }
            .text-area{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;                
            }
            textarea{
                margin: 0.3rem;
                width: 100%;
                height: 14rem;                
                resize: none;
                outline: none;
                border-radius: 0.3rem;
                padding: 1rem;
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }            
        }
    }
}
.button{
    background-color: $bgcolor;
    color: white;
    font-weight: 700;
    padding: 0.3rem 0.7rem;
    min-width: 7rem;
    font-size: 1.2rem;
    border-radius: 0.6rem;
    border: none;
    cursor: pointer;
    &:active{
        transform: scale(0.92);
    }
    &:hover{
        background-color: rgb(2, 16, 137);
    }
}